$base-margin: 20px;
$base-padding: 10px;

$todo-width: 550px;
$todo-font-size: 24px;

$primary-color: rgba(175, 47, 47, 0.15);
$background-color: #f5f5f5;

$icon-size: 20px;

$checkbox-size: 24px;
$check-color: #03fcc6;

$transition-duration: 0.1s;